<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/SpringMVC/hello" method="POST">
    <input type="text" name="name" value="李甜甜">
    <input type="text" name="englishname" value="tiantian">
    <button type="submit">提交</button>
</form>
<form action="/SpringMVC/helloget" method="GET">
    <input type="text" name="name" value="李甜甜呀呀呀">
    <input type="text" name="englishname" value="tiantian">
    <button type="submit">提交</button>
</form>
</body>
<script>

</script>
</html>